.main-content {
  padding-bottom: 80px;
  margin-bottom: 40px;
  height: 100%;
}

.separator {
  width: 100%;
  border-radius: 1px;
  border: 0;
  height: 1px;
  margin: 10px 0 10px 0;
  background: #333;
}

.separate.short {
  width: 80px;
}

.separator.mid {
  margin: 10px auto;
}

.separator.yellow {
  background: #ffd43f;
}

.separator.blue {
  background: #8bd4ce;
}

.separator.red {
  background: #ff6158;
}